.navbar{
    background-color: var(--color-primary);
    width: 100vw;
    height: 74px;
    padding: 0px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .logo{
    width: 67px;
    height: 34px;
    margin-top: 20px;
    margin-left: 32px;
    margin-bottom: 20px;
}
.searchbar{
    margin-top: 13px;
    margin-bottom: 13px;
    margin-left: 436px;
} */